
.container{
		width: 80%;
		margin: 25px auto;
		display: flex;
		min-width: 800px;
		.left{
			flex: 0 0 70%;
             margin-right: 30px;	
			 min-width: 800px;
					 
			.type {
				border-bottom: 5px solid rgb(219, 109, 76);
				margin-top: 10px;
				.tip{
					font-size: 23px;
					line-height: 35px;
					font-family: "microsoft yahei";
					color: '#474645';
					font-weight: bold;
				}
				.place{
					font-size: 23px;
					line-height: 35px;
					span{
						margin-right: 6px;
					}
				}
			}
			
			.title{
				font-size: 50px;
			}
			.msg{
				margin-top: 20px;
				display: flex;
				flex-direction: row;
			}
			$rgbcolor:rgb(231, 72, 81) !global 
			.content{
				margin-top: 50px;
			}
			.money{
				display: flex;
				width: 50%;
				float: right;
				margin-top: 50px;
				
				.scan{
				
				}
				.info{
					flex: 0 0 25%;
					text-align: right;
					font-size: 20px;
					padding-top: 10px;
					color: rgb(153, 153, 153);
				}
				.praise{
					
				}
				.reward{
					flex: 0 0 40%;
					
				.word{
					font-size: 20px;
				}	
				}
			}
			.com{
				margin-top: 150px;
			}
		}
		
		.right {
			width: 350px;
		}
	}
	.active{
		border-bottom: 4px rgb(247, 120, 37) solid;
		border-top: 0px;
		width: 150px;
		height: 50px;
		background-color: white;
		cursor: pointer;
	}
	.defaultClass{
		width: 150px;
		height: 50px;
		background-color: white;
		border-top: 0px;
		cursor: pointer;
	}
	