* {
		box-sizing: border-box;
	}

	$rgbcolor:rgb(231, 72, 81) !global 
	
	.home {
		width: 80%;
		margin: 25px auto;
		display: flex;

		.left {
			flex: 0 0 70%;
			margin-right: 30px;

			.type {
				font-size: 26px;
				font-family: "microsoft yahei";
				color: '#474645';
				font-weight: bold;
				border-bottom: 5px solid rgb(219, 109, 76);
				padding-bottom: 10px;
				margin-bottom: 20px;
			}

			
		}

		.right {
			width: 350px;
		}
	}
	
	